
.blog{
    background-color: #12212b;
    width: 100vw;
    height: 100%;


    textarea {
        padding: 5px;
        margin: 5px 0 10px 0;
        top: 0;
        height: 80px;
        width: 70vw;
        background-color: #dbe8f0;
        text-align: justify;
        font-family: monospace;
        border-style: solid;
        border-radius: 3px;
        border-width: 1px;
    }

    p {
        padding: 5px;
        width: 70vw;
        margin: 5px 0 0 0;
        text-align: justify;
        color: white;
        font-size: 7px;
        font-family: monospace;
        border-style: solid;
        border-radius: 3px;
        border-width: 1px;
    ;
    }
    button {
        background-color: #dbe8f0;
        height: 10px;
        width: 23px;
        color: #ffffff;
        border: none;
        font-size: 6px;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        margin: 0 0 0 10px;
    }
    .double-input{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input{
        margin: 0 0 0 0;
        background-color: #dbe8f0;
        border-style: solid;
        border-radius: 3px;
        border-width: 1px;
        color: #12212b;
        font-family: monospace;
        font-size: 8px;
    }
    h2{
        color:white;
        font-family: monospace;
        margin: 2px
    }

    h3{
        color:white;
        font-family: monospace;
        text-align: right;
        margin: 1px;
        font-size: 9px;
    }

    .container {
        align-items: center;
    }
    .text-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


